.ant-upload.ant-upload-select-picture-card {
  width: 80px !important;
  height: 80px !important;
  overflow: hidden;
}
.box-image {
  position: relative;
  overflow: hidden;
  width: 80px;
  height: 80px;
}
.box-image > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.ant-upload.ant-upload-select-picture-card {
  background-color: #fff;
}
.add_pro {
  overflow: auto;
  height: 100%;
}
.add_pro::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* .ant-collapse-expand-icon{
  display: none;
} */
.click {
  animation: 0.3s ease-in ko;
  opacity: 1;
  transform: scale(1, 1);
  width: 100%;
  transition: 1s ease;
}

@keyframes ko {
  from {
    transform: scale(.8, .8);
    opacity: 0.4;
    transition: 1s ease;
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
    transition: 1s ease;
  }
}
.header-add-pro{
  display: flex;
  justify-content: space-between;
  align-items: 'center';
}
