.header-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #fff;
  border-bottom: 1px solid rgb(240, 240, 240);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.layout-admin {
  background: #f0f2f5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

