.seller-channel {
  background-color: #f7f7f7;
  height: 100vh;
}

.wapper {
  background-color: #fff;
}

.cart-page-header {
  background-color: #fff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px 0;
}

.cart-page-logo {
  display: flex;
  align-items: flex-end;
}

.cart-page-logo>a {
  width: 9rem;
  color: rgb(238, 77, 45);
}

.cart-page-logo>a>img {
  width: 90%;
}

.cart-page-logo>span {
  margin-left: 0.9375rem;
  border-left: 0.0625rem solid #ee4d2d;
  color: #ee4d2d;
  font-size: 1.25rem;
  line-height: 1.875rem;
  height: 1.875rem;
  padding-left: 0.9375rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  width: 100%;
}

.cart-page-search {
  width: 38.8125rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

.cart-page-search>button {
  background-color: #fff;
  border: 0;
  height: 80%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px 10px;
  color: #ee4d2d;
}

.account-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-container>.col-8 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.left {
  width: 400px;
}

.account-container>.col-8 .title {
  font-size: 32px;
  font-weight: 500;
  color: #ee4d2d;
  line-height: 57px;
  font-weight: 600;
}

.account-container>.col-8 .subtitle {
  margin: 10px 0;
}

.account-container>.col-8 .image {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-seller-live-sg/rootpages/static/modules/account/image/login-img.9347138.png);
}

.account-container>.col-4 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.account-container>.col-4>form {
  width: 400px;
  border-radius: 2px;
  border: 1px solid #eeeeee;
  background-color: #fff;
  padding: 30px 10px 30px 10px;
}

.account-container>.col-4>form>h3 {
  color: #ee4d2d;
}

.account-container>.col-4>form>button {
  color: #fff;
  background-color: #ee4d2d;
  border: 0;
  border-radius: 2px;
  font-size: 0.9rem;
  cursor: pointer;
}

.account-container>.col-4>form>a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.shope_transport {
  border: 1px solid #ee4d2d;
  padding: 3px 10px;
  border-radius: 2px;
  font-size: 11px;
  color: #ee4d2d;
  font-weight: 500;
  margin-left: 40px;
  font-size: 11px;
  background-color: #ffc6bb;
}

.shope_transport::before {
  position: absolute;
  top: 2px;
  width: 0;
  height: 0;
  border: 9px solid #ffc6bb;
  border-right-width: 4px;
  border-left-width: 4px;
  content: "";

  right: 0;
  border-right-color: inherit;
}

.shope_transport::after {
  position: absolute;
  top: 1.5px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-right-width: 4px;
  border-left-width: 5px;
  content: "";
  right: -1px;
  border-right-color: #fff;
}

.button_save {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgb(210, 210, 210);
}

.form-item-upload-avatar {
  position: relative;
}

.form-item-upload-avatar .close {
  position: absolute;
  left: 70px;
  top: -10px;
  color: #ee4d2d;
  cursor: pointer;
}