.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(231, 231, 231);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.image_product{
    width: 40%;
}
.table-product div p:nth-child(1){
    font-weight: 600;
}
.pro-detail ul li{
    list-style: none;
}
.pro-detail  img{
    width: 40% !important;
  }